/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  border: 2px solid red;
  height: 100vh;
}
.form-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.website-login {
  width: 50%;
}

@media screen and (max-width: 567px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    margin-top: 40px;
    box-shadow: none;
    width: 100%;
  }
  .website-login {
    width: 100%;
  }
  .website-logo {
    margin-bottom: 20px;
    width: 40%;
  }
  .username-container {
    width: 100%;
  }
}
.website-logo {
  width: 40%;
  align-self: center;
}
.username-label {
  color: black;
  font-weight: 500;
}
.username-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
}
.input-element {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #d7dfe9;
}
.login-button {
  background-color: #0b69ff;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-family: 'Roboto';
  border: none;
  width: 70%;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}

.error-classname {
  color: red;
}
