/* Write your CSS code here */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  width: 100%;
}
.website-logo {
  width: 20%;
}
.logout-button {
  background-color: #0b69ff;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto';
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.list-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}
.nav-list-item {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 17px;
  list-style-type: none;
}
.items-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
